<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/common/head :: html_head(pageTitle='Product - Ecom Marketplace Template')}">
<body>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img class="mb-10" src="/img/template/favicon.svg" alt="Ecom">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/common/header :: header"></div>
<main class="main">
    <div class="section-box">
        <div class="breadcrumbs-div">
            <div class="container" id="show-text-product">
            </div>
        </div>
    </div>
    <div class="section-box shop-template">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 order-first order-lg-last">
                    <div class="box-filters mt-0 pb-5 border-bottom">
                        <div class="row">
                            <div class="col-xl-2 col-lg-3 mb-10 text-lg-start text-center">

                            </div>
                            <div class="col-xl-10 col-lg-9 mb-10 text-lg-end text-center">
                                <div class="d-inline-block">
                                    <span class="font-sm color-gray-500 font-medium">Sắp xếp:</span>
                                    <div class="dropdown dropdown-sort border-1-right">
                                        <button class="btn dropdown-toggle font-sm color-gray-900 font-medium"
                                                id="dropdownSort" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">Mặc định
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-light" id="dropdownSortBy"
                                            aria-labelledby="dropdownSort"
                                            style="margin: 0px;">
                                            <li value="newest" class="dropdown-item active">Sản phẩm mới nhất</li>
                                            <li value="priceAsc" class="dropdown-item">Giá thấp đến cao</li>
                                            <li value="priceDesc" class="dropdown-item">Giá từ cao đến thấp</li>
                                            <li value="bestSelling" class="dropdown-item">Sản phẩm bán chạy nhất</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-inline-block"><span
                                        class="font-sm color-gray-500 font-medium">Hiển thị</span>
                                    <div class="dropdown dropdown-sort">
                                        <button class="btn dropdown-toggle font-sm color-gray-900 font-medium"
                                                id="dropdownSort2" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false" data-bs-display="static"><span>10 sản phẩm</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-light" id="dropdownSortItem"
                                            aria-labelledby="dropdownSort2">
                                            <li value="30" class="dropdown-item active">30 sản phẩm</li>
                                            <li value="50" class="dropdown-item">50 sản phẩm</li>
                                            <li value="100" class="dropdown-item">100 sản phẩm</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-20" id="product-lists">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card-grid-style-3">
                                <div class="card-grid-inner">
                                    <div class="tools"><a class="btn btn-trend btn-tooltip mb-10" href="#"
                                                          aria-label="Trend" data-bs-placement="left"></a><a
                                            class="btn btn-wishlist btn-tooltip mb-10" href="shop-wishlist.html"
                                            aria-label="Add To Wishlist"></a><a
                                            class="btn btn-compare btn-tooltip mb-10" href="shop-compare.html"
                                            aria-label="Compare"></a><a class="btn btn-quickview btn-tooltip"
                                                                        aria-label="Quick view" href="#ModalQuickview"
                                                                        data-bs-toggle="modal"></a></div>
                                    <div class="image-box"><span class="label bg-brand-2">-17%</span><a
                                            href="shop-single-product.html"><img
                                            src="/img/page/homepage1/imgsp3.png" alt="Ecom"></a></div>
                                    <div class="info-right"><a class="font-xs color-gray-500"
                                                               href="shop-vendor-single.html">Apple</a><br><a
                                            class="color-brand-3 font-sm-bold" href="shop-single-product.html">Dell
                                        Optiplex 9020 Small Form Business Desktop</a>
                                        <div class="rating"><img src="/img/template/icons/star.svg"
                                                                 alt="Ecom"><img
                                                src="/img/template/icons/star.svg" alt="Ecom"><img
                                                src="/img/template/icons/star.svg" alt="Ecom"><img
                                                src="/img/template/icons/star.svg" alt="Ecom"><img
                                                src="/img/template/icons/star.svg" alt="Ecom"><span
                                                class="font-xs color-gray-500">(65)</span></div>
                                        <div class="price-info"><strong class="font-lg-bold color-brand-3 price-main">$2856.3</strong><span
                                                class="color-gray-500 price-line">$3225.6</span></div>
                                        <div class="mt-20 box-btn-cart"><a class="btn btn-cart" href="shop-cart.html">Add
                                            To Cart</a></div>
                                        <ul class="list-features">
                                            <li>27-inch (diagonal) Retina 5K display</li>
                                            <li>3.1GHz 6-core 10th-generation Intel Core i5</li>
                                            <li>AMD Radeon Pro 5300 graphics</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <!--                            <li class="page-item"><a class="page-link page-prev" href="#"></a></li>-->
                            <!--                            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                            <!--                            <li class="page-item"><a class="page-link active" href="#">2</a></li>-->
                            <!--                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                            <!--                            <li class="page-item"><a class="page-link" href="#">4</a></li>-->
                            <!--                            <li class="page-item"><a class="page-link" href="#">5</a></li>-->
                            <!--                            <li class="page-item"><a class="page-link" href="#">6</a></li>-->
                            <!--                            <li class="page-item"><a class="page-link page-next" href="#"></a></li>-->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 order-last order-lg-first">
                    <div class="sidebar-border mb-0">
                        <div class="sidebar-head">
                            <h6 class="color-gray-900">Các shop</h6>
                        </div>
                        <div class="sidebar-content">
                            <ul class="list-nav-arrow">
                                <!--                                <li><a href="shop-grid.html">Computers &amp; Laptop<span class="number">09</span></a>-->
                                <!--                                </li>-->
                            </ul>
                            <div>
                                <div class="collapse" id="moreMenu">
                                    <ul class="list-nav-arrow">
                                        <!--                                        <li><a href="shop-grid.html">Home theater<span class="number">98</span></a></li>-->
                                    </ul>
                                </div>
                                <a class="link-see-more mt-5" data-bs-toggle="collapse" href="#moreMenu" role="button"
                                   aria-expanded="false" aria-controls="moreMenu">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-border mb-40">
                        <div class="sidebar-content">
                            <h6 class="color-gray-900 mt-20 mb-15">Nhập khoảng giá:</h6>
                            <div class="d-flex align-items-center">
                                <input type="number" class="form-control" id="price-from"
                                       placeholder="đ Từ">
                                <span>-</span>
                                <input type="number" class="form-control" id="price-to"
                                       placeholder="đ Đến">
                            </div>
                            <div id="price-error" class="text-danger mt-2" style="display:none;">Vui lòng nhập đầy đủ
                                khoảng giá.
                            </div>
                            <button class="btn btn-buy mt-15" id="btn-search-price">Áp dụng</button>
                            <h6 class="color-gray-900 mt-20 mb-15">Thương hiệu:</h6>
                            <input type="text" class="form-control me-2" id="brand-search"
                                   placeholder="Apple">
                            <div id="brand-error" class="text-danger mt-2" style="display:none;">Vui lòng nhập thương
                                hiệu.
                            </div>
                            <button class="btn btn-buy mt-15" id="btn-search-brand">Áp dụng</button>
                            <h6 class="color-gray-900 mb-0 mt-40">Đánh giá</h6>
                            <ul class="list-checkbox">
                                <li value="5" class="mb-5 stars-five"><a>
                                    <img src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><span
                                        class="ml-10 font-xs color-gray-500 d-inline-block align-top">(5 sao)</span></a>
                                </li>
                                <li value="4" class="mb-5 stars-four"><a><img src="/img/template/icons/star.svg"
                                                                              alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><span
                                        class="ml-10 font-xs color-gray-500 d-inline-block align-top">(4 sao)</span></a>
                                </li>
                                <li value="3" class="mb-5 stars-three"><a><img src="/img/template/icons/star.svg"
                                                                               alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><span
                                        class="ml-10 font-xs color-gray-500 d-inline-block align-top">(3 sao)</span></a>
                                </li>
                                <li value="2" class="mb-5 stars-two"><a><img src="/img/template/icons/star.svg"
                                                                             alt="Ecom"><img
                                        src="/img/template/icons/star.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><span
                                        class="ml-10 font-xs color-gray-500 d-inline-block align-top">(2 sao)</span></a>
                                </li>
                                <li value="1" class="mb-5 stars-one"><a><img src="/img/template/icons/star.svg"
                                                                             alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><img
                                        src="/img/template/icons/star-gray.svg" alt="Ecom"><span
                                        class="ml-10 font-xs color-gray-500 d-inline-block align-top">(1 sao)</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn font-sm-bold color-gray-500" id="btn-clear-search">Xóa tất cả</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="fragments/common/footer" :: footer></div>
<div th:insert="fragments/common/scripts" :: scripts></div>
</body>
</html>