<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/common/head :: html_head(pageTitle='cart - Ecom Marketplace Template')}">
<body>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img class="mb-10" src="/img/template/favicon.svg" alt="Ecom">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/common/header :: header"></div>
<main class="main">
    <section class="section-box shop-template">
        <div class="container">
            <div class="mt-30 mb-35">
                <h5>Giỏ hàng của tôi:</h5>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="box-carts">
                        <div class="head-wishlist">
                            <div class="item-wishlist">
                                <div class="wishlist-cb">
                                    <input class="cb-layout cb-all" type="checkbox">
                                </div>
                                <div class="wishlist-product"><span class="font-md-bold color-brand-3">Sản phẩm</span>
                                </div>
                                <div class="wishlist-price"><span class="font-md-bold color-brand-3">Đơn giá</span>
                                </div>
                                <div class="wishlist-status"><span class="font-md-bold color-brand-3">Số lượng</span>
                                </div>
                                <div class="wishlist-action"><span class="font-md-bold color-brand-3">Tổng cộng</span>
                                </div>
                                <div class="wishlist-remove"><span class="font-md-bold color-brand-3">Xóa</span>
                                </div>
                            </div>
                        </div>
                        <div id="cart-items" class="content-wishlist mb-20">
                            <div class="item-wishlist">
                                <div class="wishlist-cb">
                                    <input class="cb-layout cb-select" type="checkbox">
                                </div>
                                <div class="wishlist-product">
                                    <div class="product-wishlist">
                                        <div class="product-image"><a href="shop-single-product.html"><img
                                                src="/img/page/product/img-sub.png" alt="Ecom"></a></div>
                                        <div class="product-info"><a href="shop-single-product.html">
                                            <h6 class="color-brand-3">Dell Optiplex 9020 Small Form Business Desktop
                                                Tower PC</h6></a>
                                            <div class="rating"><img src="/img/template/icons/star.svg"
                                                                     alt="Ecom"><img
                                                    src="/img/template/icons/star.svg" alt="Ecom"><img
                                                    src="/img/template/icons/star.svg" alt="Ecom"><img
                                                    src="/img/template/icons/star.svg" alt="Ecom"><img
                                                    src="/img/template/icons/star.svg" alt="Ecom"><span
                                                    class="font-xs color-gray-500"> (65)</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wishlist-price">
                                    <h6 class="color-brand-3">$2.51</h6>
                                </div>
                                <div class="wishlist-status">
                                    <div class="box-quantity">
                                        <div class="input-quantity">
                                            <input class="font-xl color-brand-3" type="text" value="1"><span
                                                class="minus-cart"></span><span class="plus-cart"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wishlist-action">
                                    <h6 class="color-brand-3">$2.51</h6>
                                </div>
                                <div class="wishlist-remove"><a class="btn btn-delete" href="#"></a></div>
                            </div>
                        </div>
                        <div class="row mb-40">
                            <div class="col-lg-6 col-md-6 col-sm-6-col-6"><a class="btn btn-buy w-auto arrow-back mb-10"
                                                                             href="/">Tiếp tục mua</a>
                            </div>
                            <!--                            <div class="col-lg-6 col-md-6 col-sm-6-col-6 text-md-end"><a-->
                            <!--                                    class="btn btn-buy w-auto update-cart mb-10" href="/carts">Tải lại</a>-->
                            <!--                            </div>-->
                        </div>
                        <!--                        <div class="row mb-50">-->
                        <!--                            <div class="col-lg-6 col-md-6">-->

                        <!--                            </div>-->
                        <!--                            <div class="col-lg-6 col-md-6">-->
                        <!--                                <div class="box-cart-right p-20">-->
                        <!--                                    <h5 class="font-md-bold mb-10">Mã giảm giá</h5><span-->
                        <!--                                        class="font-sm-bold mb-5 d-inline-block color-gray-500">Sử dụng mã giảm giá?</span>-->
                        <!--                                    <div class="form-group d-flex">-->
                        <!--                                        <input class="form-control mr-15" placeholder="Nhập mã giảm giá">-->
                        <!--                                        <button class="btn btn-buy w-auto">Áp dụng</button>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="summary-cart">
                        <div class="border-bottom mb-10">
                            <div class="row">
                                <div class="col-6">
                                    <span class="font-md-bold color-gray-500">Tổng cộng</span>
                                </div>
                                <div class="col-6 text-end">
                                    <h4 id="subtotalValue">0đ</h4>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mb-10">
                            <div class="row">
                                <div class="col-6">
                                    <span class="font-md-bold color-gray-500">Giảm giá</span>
                                </div>
                                <div class="col-6 text-end">
                                    <h4 id="voucherValue">0đ</h4>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mb-10">
                            <div class="row">
                                <div class="col-6">
                                    <span class="font-md-bold color-gray-500">Tổng tiền</span>
                                </div>
                                <div class="col-6 text-end">
                                    <h4 id="totalValue">0đ</h4>
                                </div>
                            </div>
                        </div>
                        <div class="box-button"><a class="btn btn-buy" href="shop-checkout.html">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="ModalQuickview" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body p-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="gallery-image">
                                <div class="galleries-2">
                                    <div class="detail-gallery">
                                        <div class="product-image-slider-2">
                                            <figure class="border-radius-10"><img
                                                    src="/img/page/product/img-gallery-1.jpg"
                                                    alt="product image"></figure>
                                            <figure class="border-radius-10"><img
                                                    src="/img/page/product/img-gallery-2.jpg"
                                                    alt="product image"></figure>
                                            <figure class="border-radius-10"><img
                                                    src="/img/page/product/img-gallery-3.jpg"
                                                    alt="product image"></figure>
                                            <figure class="border-radius-10"><img
                                                    src="/img/page/product/img-gallery-4.jpg"
                                                    alt="product image"></figure>
                                            <figure class="border-radius-10"><img
                                                    src="/img/page/product/img-gallery-5.jpg"
                                                    alt="product image"></figure>
                                            <figure class="border-radius-10"><img
                                                    src="/img/page/product/img-gallery-6.jpg"
                                                    alt="product image"></figure>
                                            <figure class="border-radius-10"><img
                                                    src="/img/page/product/img-gallery-7.jpg"
                                                    alt="product image"></figure>
                                        </div>
                                    </div>
                                    <div class="slider-nav-thumbnails-2">
                                        <div>
                                            <div class="item-thumb"><img
                                                    src="/img/page/product/img-gallery-1.jpg"
                                                    alt="product image"></div>
                                        </div>
                                        <div>
                                            <div class="item-thumb"><img
                                                    src="/img/page/product/img-gallery-2.jpg"
                                                    alt="product image"></div>
                                        </div>
                                        <div>
                                            <div class="item-thumb"><img
                                                    src="/img/page/product/img-gallery-3.jpg"
                                                    alt="product image"></div>
                                        </div>
                                        <div>
                                            <div class="item-thumb"><img
                                                    src="/img/page/product/img-gallery-4.jpg"
                                                    alt="product image"></div>
                                        </div>
                                        <div>
                                            <div class="item-thumb"><img
                                                    src="/img/page/product/img-gallery-5.jpg"
                                                    alt="product image"></div>
                                        </div>
                                        <div>
                                            <div class="item-thumb"><img
                                                    src="/img/page/product/img-gallery-6.jpg"
                                                    alt="product image"></div>
                                        </div>
                                        <div>
                                            <div class="item-thumb"><img
                                                    src="/img/page/product/img-gallery-7.jpg"
                                                    alt="product image"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tags">
                                <div class="d-inline-block mr-25"><span class="font-sm font-medium color-gray-900">Category:</span><a
                                        class="link" href="#">Smartphones</a></div>
                                <div class="d-inline-block"><span
                                        class="font-sm font-medium color-gray-900">Tags:</span><a class="link" href="#">Blue</a>,<a
                                        class="link" href="#">Smartphone</a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-info">
                                <h5 class="mb-15">SAMSUNG Galaxy S22 Ultra, 8K Camera & Video, Brightest Display Screen,
                                    S Pen Pro</h5>
                                <div class="info-by"><span class="bytext color-gray-500 font-xs font-medium">by</span><a
                                        class="byAUthor color-gray-900 font-xs font-medium"
                                        href="shop-vendor-list.html"> Ecom Tech</a>
                                    <div class="rating d-inline-block"><img src="/img/template/icons/star.svg"
                                                                            alt="Ecom"><img
                                            src="/img/template/icons/star.svg" alt="Ecom"><img
                                            src="/img/template/icons/star.svg" alt="Ecom"><img
                                            src="/img/template/icons/star.svg" alt="Ecom"><img
                                            src="/img/template/icons/star.svg" alt="Ecom"><span
                                            class="font-xs color-gray-500 font-medium"> (65 reviews)</span></div>
                                </div>
                                <div class="border-bottom pt-10 mb-20"></div>
                                <div class="box-product-price">
                                    <h3 class="color-brand-3 price-main d-inline-block mr-10">$2856.3</h3><span
                                        class="color-gray-500 price-line font-xl line-througt">$3225.6</span>
                                </div>
                                <div class="product-description mt-10 color-gray-900">
                                    <ul class="list-dot">
                                        <li>8k super steady video</li>
                                        <li>Nightography plus portait mode</li>
                                        <li>50mp photo resolution plus bright display</li>
                                        <li>Adaptive color contrast</li>
                                        <li>premium design & craftmanship</li>
                                        <li>Long lasting battery plus fast charging</li>
                                    </ul>
                                </div>
                                <div class="box-product-color mt-10">
                                    <p class="font-sm color-gray-900">Color:<span class="color-brand-2 nameColor">Pink Gold</span>
                                    </p>
                                    <ul class="list-colors">
                                        <li class="disabled"><img src="/img/page/product/img-gallery-1.jpg"
                                                                  alt="Ecom" title="Pink"></li>
                                        <li><img src="/img/page/product/img-gallery-2.jpg" alt="Ecom"
                                                 title="Gold"></li>
                                        <li><img src="/img/page/product/img-gallery-3.jpg" alt="Ecom"
                                                 title="Pink Gold"></li>
                                        <li><img src="/img/page/product/img-gallery-4.jpg" alt="Ecom"
                                                 title="Silver"></li>
                                        <li class="active"><img src="/img/page/product/img-gallery-5.jpg"
                                                                alt="Ecom" title="Pink Gold"></li>
                                        <li class="disabled"><img src="/img/page/product/img-gallery-6.jpg"
                                                                  alt="Ecom" title="Black"></li>
                                        <li class="disabled"><img src="/img/page/product/img-gallery-7.jpg"
                                                                  alt="Ecom" title="Red"></li>
                                    </ul>
                                </div>
                                <div class="box-product-style-size mt-10">
                                    <div class="row">
                                        <div class="col-lg-12 mb-10">
                                            <p class="font-sm color-gray-900">Style:<span
                                                    class="color-brand-2 nameStyle">S22</span></p>
                                            <ul class="list-styles">
                                                <li class="disabled" title="S22 Ultra">S22 Ultra</li>
                                                <li class="active" title="S22">S22</li>
                                                <li title="S22 + Standing Cover">S22 + Standing Cover</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-12 mb-10">
                                            <p class="font-sm color-gray-900">Size:<span class="color-brand-2 nameSize">512GB</span>
                                            </p>
                                            <ul class="list-sizes">
                                                <li class="disabled" title="1GB">1GB</li>
                                                <li class="active" title="512 GB">512 GB</li>
                                                <li title="256 GB">256 GB</li>
                                                <li title="128 GB">128 GB</li>
                                                <li class="disabled" title="64GB">64GB</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy-product mt-5">
                                    <p class="font-sm mb-10">Quantity</p>
                                    <div class="box-quantity">
                                        <div class="input-quantity">
                                            <input class="font-xl color-brand-3" type="text" value="1"><span
                                                class="minus-cart"></span><span class="plus-cart"></span>
                                        </div>
                                        <div class="button-buy"><a class="btn btn-cart" href="shop-cart.html">Add to
                                            cart</a><a class="btn btn-buy" href="shop-checkout.html">Buy now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:insert="fragments/common/footer" :: footer></div>
<div th:insert="fragments/common/scripts" :: scripts></div>
<script src="/js/clients/cart/cart.js"></script>
</body>
</html>