<header th:fragment="header" class="header sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo">
                    <a class="d-flex" href="/"><img alt="Ecom" src="/img/template/logo.svg"></a>
                </div>
                <div class="header-search">
                    <div class="box-header-search">
                        <form class="form-search">
                            <div class="box-category">
                                <select class="select-active select2-hidden-accessible" id="category-select"
                                        name="categoryId">
                                    <option>Tất cả</option>
                                </select>
                            </div>
                            <div class="box-keysearch">
                                <input class="form-control font-xs" type="text" name="productName"
                                       placeholder="Tìm kiếm sản phẩm">
                            </div>
                            <div class="box-search-button">
                                <button type="button" id="search-button" class="btn btn-search">Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-nav">
                    <nav class="nav-main-menu d-none d-xl-block">
                        <ul class="main-menu">
                            <li><a class="active" href="/">Trang chủ</a></li>
                            <li><a href="shop-grid.html">Cửa hàng</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-shop d-flex justify-content-end align-content-center gap-3">
                    <div class="d-inline-block box-dropdown-cart d-flex align-content-center">
                        <span id="user-info" class="d-inline-block me-2 fw-bold mt-2"></span>
                        <span class="image-info">
                            <img id="avatar-info" class="img-xs rounded-circle "
                                 src="/img/people/avatar-default.jpg"
                                 alt="User">
                        </span>
                        <div class="dropdown-account">
                        </div>
                    </div>
                    <div class="d-inline-block box-dropdown-cart">
                        <a href="/carts">
                            <span class="font-lg icon-list icon-cart"><span>Giỏ</span><span
                                    class="number-item font-xs" id="cart-item-count">2</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>