<div th:fragment="change-password-modal" class="modal fade"
     id="change-password-modal" tabindex="-1"
     aria-labelledby="book-creation-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="password-form">
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Mật khẩu mới</label>
                        <div class="password-wrapper">
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="************"/>
                            <i id="toggle-password" class="fas fa-eye icon-password"></i>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirmedPassword" class="form-label">Xác nhận mật khẩu</label>
                        <div class="password-wrapper">
                            <input type="password" id="confirmedPassword" name="confirmedPassword" class="form-control"
                                   placeholder="************"/>
                            <i id="toggle-confirmed-password" class="fas fa-eye icon-password"></i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-change">Lưu</button>
            </div>
        </div>
    </div>
</div>