<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/common/manage/head :: html_head(pageTitle='Ecom - Ecom Marketplace Template')}">
<body>
<div class="screen-overlay"></div>
<div th:insert="fragments/common/manage/dashboard :: dashboard"></div>
<main class="main-wrap">
    <div th:insert="fragments/common/manage/header :: manage-header"></div>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Địa chỉ của tôi</h2>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div>
                        <button
                                class="btn float-end btn-primary btn-sm rounded font-md d-flex align-items-center gap-1"
                                data-bs-toggle="modal"
                                data-bs-target="#address-modal"
                        >
                            <i class="material-icons md-plus"></i>
                            Tạo mới
                        </button>
                    </div>
                    <table class="table table-hover" id="address-list">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái</th>
                            <th class="text-end">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                </ul>
            </nav>
        </div>
    </section>
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> &copy;, Ecom - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>
    <div th:insert="~{manage/user/modal-address :: address-modal}"></div>
</main>
<div th:insert="fragments/common/manage/scripts" :: scripts></div>
<script src="/js/users/address.js"></script>
</body>
</html>