<div th:fragment="edit-product-modal" class="modal fade"
     id="edit-product-modal" tabindex="-1"
     aria-labelledby="book-creation-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-custom-right">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Cập nhật sản phẩm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-5">
                    <div class="content">
                        <form id="form-edit-product">
                            <div class="row">
                                <h5 class="mb-15">Thông tin cơ bản</h5>
                                <div class="col-lg-8">
                                    <div class="row gx-3">
                                        <div class="col-6 mb-3">
                                            <label for="update-name" class="form-label">Tên sản phẩm*</label>
                                            <input class="form-control" id="update-name" name="name" type="text"
                                                   placeholder="Áo thun">
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label for="update-categoryId" class="form-label">Danh mục*</label>
                                            <select class="form-select" id="update-categoryId" name="categoryId">

                                            </select>
                                        </div>
                                        <div class="col mb-3">
                                            <label for="update-description" class="form-label">Mô tả</label>
                                            <textarea class="form-control" id="update-description" name="description"
                                                      type="text" rows="10"
                                                      placeholder="....."></textarea>
                                        </div>

                                    </div>
                                </div>
                                <aside class="col-lg-4">
                                    <div class="d-flex flex-md-column">
                                        <div class="image-container d-flex">
                                            <div class="image-placeholder d-flex justify-content-center flex-wrap"
                                                 style="width: 100%">
                                                <i class="fas fa-image" id="fas-icon"
                                                   style="font-size: 100px;"></i>
                                            </div>
                                        </div>
                                        <input type="file" hidden="hidden" id="image-input" name="images"
                                               accept="image/jpeg, image/png, image/gif, image/webp" multiple/>
                                        <button id="change-image-btn" class="btn btn-sm btn-secondary">
                                            Tải ảnh
                                        </button>
                                        <p id="image-error" class="error" for="images"></p>
                                    </div>
                                </aside>
                            </div>
                        </form>

                        <form id="form-edit-info">
                            <div class="row">
                                <h5 class="mb-15 mt-35">Thông tin chi tiết</h5>
                                <div class="col">
                                    <div class="row gx-3">
                                        <div class="col-lg-6 mb-3">
                                            <label for="update-origin" class="form-label">Xuất xứ</label>
                                            <input class="form-control" id="update-origin" name="origin" type="text"
                                                   placeholder="Trung Quốc">
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label for="update-brand" class="form-label">Thương hiệu</label>
                                            <input class="form-control" id="update-brand" name="brand" type="text"
                                                   placeholder="Apple">
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label for="update-expiryDate" class="form-label">Hạn sử dụng</label>
                                            <input class="form-control" id="update-expiryDate" name="expiryDate"
                                                   type="date"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="form-edit-attributes">
                            <div class="row">
                                <h5 class="mb-15 mt-35">Thông tin biến thể</h5>
                                <div class="col">
                                    <div id="update-attribute-section">
                                        <div class="row gx-3 update-attribute-group">
                                            <div class="col-lg-5 mb-3">
                                                <label for="update-attributeName" class="form-label">Thuộc tính
                                                    1</label>
                                                <input type="text" id="update-attributeName" name="attributeName"
                                                       class="form-control me-2"
                                                       placeholder="VD: Màu sắc,...">
                                                <p class="error" for="update-attributeName"></p>
                                            </div>
                                            <div class="col-lg-5 mb-3">
                                                <label for="update-attributeValue" class="form-label">Giá trị</label>
                                                <input type="text" id="update-attributeValue" name="attributeValue"
                                                       class="form-control me-2"
                                                       placeholder="VD: Trắng, Đen (phân cách bởi dấu phẩy)">
                                                <p class="error" for="update-attributeValue"></p>
                                            </div>
                                            <div class="col mb-3">
                                                <button class="update-btn-delete btn-disabled" disabled>Xóa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button id="update-add-attribute" class="btn-custom">Thêm thuộc tính</button>
                        <button id="update-save-attributes" class="btn-custom ms-2">Cập nhật</button>
                        <form id="form-edit-variants">
                            <div class="row">
                                <h5 class="mb-15 mt-25">Danh sách biến thể</h5>
                                <div class="col">
                                    <table class="table table-bordered mt-3">
                                        <thead>
                                        <tr id="update-variant-header">
                                            <th>Thuộc tính</th>
                                            <th>Số lượng</th>
                                            <th>Giá bán</th>
                                        </tr>
                                        </thead>
                                        <tbody id="update-variant-body">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-edit">Lưu</button>
            </div>
        </div>
    </div>
</div>