<div th:fragment="create-product-modal" class="modal fade"
     id="create-product-modal" tabindex="-1"
     aria-labelledby="book-creation-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-create-product">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row gx-3">
                                <div class="col-6 mb-3">
                                    <label for="name" class="form-label">Tên sản phẩm*</label>
                                    <input class="form-control" id="name" name="name" type="text"
                                           placeholder="Áo thun">
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="origin" class="form-label">Xuất xứ</label>
                                    <input class="form-control" id="origin" name="origin" type="text"
                                           placeholder="Trung Quốc">
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="expiryDate" class="form-label">Hạn sử dụng</label>
                                    <input class="form-control" id="expiryDate" name="expiryDate" type="date"
                                           placeholder="">
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="price" class="form-label">Giá</label>
                                    <input class="form-control" id="price" name="price" type="number"
                                           placeholder="100000">
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="categoryId" class="form-label">Danh mục</label>
                                    <select class="form-select" id="categoryId" name="categoryId">
                                        <option selected value="1">Điện tử</option>
                                        <option value="2">Quần áo</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label for="stockQuantity" class="form-label">Số lượng</label>
                                    <input class="form-control" id="stockQuantity" name="stockQuantity" type="number"
                                           placeholder="1000">
                                </div>

                                <div class="col-lg-6 mb-3">
                                    <label for="description" class="form-label">Mô tả</label>
                                    <textarea class="form-control" id="description" name="description" type="text"
                                              placeholder="....."></textarea>
                                </div>

                            </div>
                        </div>
                        <aside class="col-lg-4">
                            <div class="d-flex flex-md-column">
                                <div class="image-preview-container d-flex">
                                    <div class="image-placeholder d-flex justify-content-center flex-wrap"
                                         style="width: 100%">
                                        <i class="fas fa-image" style="font-size: 100px;"></i>
                                    </div>
                                </div>
                                <input type="file" hidden="hidden" id="avatar-input" name="images"
                                       accept="image/jpeg, image/png, image/gif, image/webp" multiple/>
                                <button id="change-avatar-btn" class="btn btn-sm btn-secondary">
                                    Tải ảnh
                                </button>
                                <p id="avtar-error" class="error" for="images"></p>
                            </div>
                        </aside>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-create">Lưu</button>
            </div>
        </div>
    </div>
</div>